<footer>
    <div class="row py-md-4">
        <div class="col-md-4 col-sm-12 text-left">
            <small class="copyright mb-0">{{global.copyright}}</small>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
            <ul class="list-inline social social-white-alt mb-0">
                {{#global.social.facebook.show_or_hide}}
                <li class="list-inline-item"><a href="{{{global.social.facebook.link}}}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                {{/global.social.facebook.show_or_hide}}

                {{#global.social.instagram.show_or_hide}}
                <li class="list-inline-item"><a href="{{{global.social.instagram.link}}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                {{/global.social.instagram.show_or_hide}}

                {{#global.social.github.show_or_hide}}
                <li class="list-inline-item"><a href="{{{global.social.github.link}}}" target="_blank"><i class="fab fa-github"></i></a></li>
                {{/global.social.github.show_or_hide}}

                {{#global.social.youtube.show_or_hide}}
                <li class="list-inline-item"><a href="{{{global.social.youtube.link}}}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                {{/global.social.youtube.show_or_hide}}
            </ul>
        </div>
        <div class="col-md-4 col-sm-12 text-right">
            <p class="vertex mb-0"><a href="https://www.vertex360.co/" target="_blank"><img class="img-logo-footer" src="https://lh3.googleusercontent.com/8GL_P-H5ZKLTSMyqkO-tLJN1E9CUG_3RFN1_kaQ6p9tDmheHVJv8Hg4jkWZ05lkUfQDzQg__hqYPim2X56JaOIO_zg"/></a></p>
        </div>
    </div>
</footer>
